<app-menu></app-menu>
<section>
  <a href="https://www.apple.com/co/iphone-12-pro">
    <div class="contenedor-felipe">
      <figure>
        <img src="../assets/images/hero.jpg" alt="">
        <div class="capa-felipe">
          <p class="parrafo-consulta">Consulta la disponibilidad más adelante</p>
          <h2 class="titulo-iphone">iPhone 12 Pro</h2>
          <h3 class="subtitulo-iphone">Un salto al siguiente nivel.</h3>
          <a  class="link-iphone" href="https://www.apple.com/co/iphone-12-pro/">Más información ></a>
        </div>
      </figure>
    </div>
  </a>

  <a href="https://www.apple.com/co/iphone-12/">
    <div class="contenedor-abs-felipe2">
      <div class="contenedor-felipe2">
        <figure>
          <img src="../assets/images/hero2.jpg" alt="">
          <div class="capa-felipe">
            <p class="parrafo-consulta">Consulta la disponibilidad más adelante</p>
            <h2 class="titulo-iphone2">iPhone 12</h2>
            <h3 class="subtitulo-iphone2">Súper.Mega.Rápido.</h3>
            <a  class="link-iphone" href="https://www.apple.com/co/iphone-12/">Más información ></a>
          </div>
        </figure>
      </div>
    </div>
  </a>

  <a href="https://www.apple.com/co/apple-watch-series-6/">
    <div class="contenedor-abs-felipe">
      <div class="contenedor-felipe3">
        <figure>
          <img src="../assets/images/hero3.jpg" alt="">
          <div class="capa-felipe">
            <h2 class="titulo-iphone">
              <i class="fa fa-apple"> WATCH</i>
            </h2>
            <p class="parrafo-consulta3">SERIES 6</p>
            <h3 class="subtitulo-iphone">Un futuro más saludable en tu muñeca.</h3>
            <a  class="link-iphone" href="https://www.apple.com/co/apple-watch-series-6/">Más información ></a>
          </div>
        </figure>
      </div>
    </div>
  </a>
</section>
<app-footer></app-footer>



